<h2><%= @listing.title %></h2>

<% if current_user.owns?(@listing) %>
  <%= link_to "Add Availability", new_listing_availability_path(@listing) %>
<% end %>

<%= link_to "Send a Message", new_listing_conversation_path(@listing) %>

<p><%= @listing.description %></p>

<p>
  <%= @listing.address %><br>
  <%= @listing.city %>
</p>

<% unless current_user.owns?(@listing) %>
  <%= link_to "Book this guide", new_listing_reservation_path(@listing) %>
<% end %>

<% if current_user.reserved?(@listing) %>
  <p>Your Reservation</p>
  <%= render current_user.reservations_for(@listing) %>
<% end %>

<p>Available Dates:</p>
<%= render @listing.available_dates %>

<p>Reviews:</p>
<%= render @listing.reviews %>

<div id="map"></div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.js'></script>
<link rel='stylesheet' href='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css' />
<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.css' rel='stylesheet' />
