<h2><%= @listing.title %></h2>

<% if current_user.owns?(@listing) %>
  <%= link_to "Add Availability", new_listing_availability_path(@listing) %>
<% end %>

<%= link_to "Send a Message", new_listing_conversation_path(@listing) %>

<p><%= @listing.description %></p>

<p>
  <%= @listing.address %><br>
  <%= @listing.city %>
</p>

<% unless current_user.owns?(@listing) %>
  <%= link_to "Book this guide", new_listing_reservation_path(@listing) %>
<% end %>

<% if current_user.reserved?(@listing) %>
  <p>Your Reservation</p>
  <%= render current_user.reservations_for(@listing) %>
<% end %>

<p>Available Dates:</p>
<%= render @listing.available_dates %>

<p>Reviews:</p>
<%= render @listing.reviews %>

<div id="map"></div>
