<%= form_for :conversation, url: user_conversations_path do |f| %>
  <div>
    <%= f.label :subject %>
    <%= f.text_field :subject %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit "Start Conversation" %>
<% end %>
