<div id="messages">
  <%= render @conversation %>
</div>

<div id="conversation_footer">
  <%= form_for([@conversation, @message], remote: true) do |form| %>
    <%= form.text_area :body, placeholder: "Type here..." %>
  <% end %>
</div>

<script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
<script type="text/javascript">

    var pusher = new Pusher('<%= ENV["Pusher.key"] %>');
    var channel = pusher.subscribe('guidr_channel_<%= @conversation.id %>');
    channel.bind('new_message', appendMessage);

    function appendMessage(date) {
      var messages = $("#messages");

      var insert_div= '<div class="message" id="message_' + data.id + ' "><span class="user">' + data.user + ': </span><span class="body">' + data.body + '</span> <span class="time">(' + data.time + ')</span></div>';

      messages.append(insert_div);

      $('html, body').animate({scrollTop:$(document).height()}, 'slow');
    }
</script>

