<!DOCTYPE html>
<html>
<head>
  <title>Guidr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js'></script>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.js'></script>
  <link rel='stylesheet' href='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css' />
  <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.css' rel='stylesheet' />
</head>
<body>

<nav>
  <%= link_to "Home", root_path %>
  <%= link_to "Search", search_path %>
  <% if signed_in? %>
    <%= link_to "Sign out", session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign in", new_session_path %>
    <%= link_to "Sign up", new_user_path %>
  <% end %>
</nav>

<h1>Guidr</h1>

<%= yield %>

</body>
</html>
